/* utilizando la position relative */
#box_1 {
    background-color: #ee3e64;
    position: relative;
    width: 200px;
    height: 200px;
}
#box_2 {
    background-color: #44accf;
    position: relative; 
    width: 200px;
    height: 200px;
}
#box_3 {
    background-color: #b7d84b;
    position: relative;
    width: 200px;
    height: 200px;
}